.about {
    height: 100%;
    color: #fefefe !important;
    margin: 45px 45px 10% 45px;
    padding: 25px 25px 10% 25px;
    border-bottom: 2px solid #23c56e;
}

h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 45px 0;
}

.about-main-container-row {
    align-items: center;
}

.about-main-container-row img {
    width: 55%;
    height: 35%;
    margin: auto;
    display: block;
    border: 3px solid #23c56e;
    border-radius: 25px;
}
