.hero {
    height: 100%;
    color: #fefefe !important;
    margin: 45px 15px 10% 15px;
    padding: 25px 15px 10% 15px;
    border-bottom: 2px solid #23c56e;
}

h1,
h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    margin-bottom: 35px;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 4rem;
}

.hero-paragraph {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    text-align: justify;
}

.hero-main-container-row {
    align-items: center;
}

@media only screen and (max-width: 1500px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 1350px) {
    h1 {
        font-size: 3.5rem;
    }
    h2 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 1200px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.5rem;
    }
}
