.hero {
    height: 100vh;
    color: #fefefe !important;
    margin: 35px 25px 0 25px;
}

h1,
h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    margin-bottom: 35px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.hero-main-container-row {
    align-items: center;
}
