.projects {
    height: 100%;
    color: #fefefe !important;
    margin: 45px 15px 10% 15px;
    padding: 25px 15px 10% 15px;
    border-bottom: 2px solid #23c56e;
}

.pro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
