.inner-section {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 5px;
}

.inner-section div {
    width: 450px;
    height: 240px;
    margin-bottom: 10px;
}

.inner-section h3 {
    text-align: center;
}

.data,
.team-radiant,
.team-dire {
    text-align: left;
    color: #e3e3e3;
    background-color: #233142;
    border-bottom: 1px solid white;
}

.section p{
    margin: 0;
    padding-left: 10%;
}

.icon-hero {
    display: flex;
    justify-content: left;
    padding-left: 10%;
    margin-bottom: 3px;
}

.data p {
    margin-bottom: 6px;
}

@media only screen and (max-width: 768px) {
    .inner-section {
        /*display: flex;*/
        text-align: center;
        justify-content: center;
        /*margin-bottom: 5px;*/
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    .inner-section div {
        width: 450px;
        height: 240px;
        margin-bottom: 0px;
    }
}