.footer {
    min-height: 50px;
    line-height: 7px;
    text-align: center;
    font-size: 14px;
    margin-top: 80px;
    padding-top: 45px;
    border-top: 3px solid black;
    background: #233142;
    color: #f95959;

    position: "fixed";
          left: 0;
          bottom: 0;
          right: 0;
}

.footer a {
    color: #e3e3e3;
    text-decoration: none;
}