.header {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 132px;
    background-color: #430f58;
}

.header nav {
    flex-grow: 1;
}

.header nav ul {
    height: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}


.header li {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    margin-left: 15px;
    margin-right: 15px;
}

.header li a {
    color: #8594e4;
    text-decoration: none;
    transition: all 300ms;
}

.header .active,
.header a:hover {
    color: #6643b5;
}

@media only screen and (max-width: 768px) {
    .header nav ul {
        height: 132px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
}

