@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500&family=Montserrat:wght@200;300;400;500&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

body {
    background-color: #161729;
}

main {
    height: 100%;
    background-color: #333447;
    margin: 4% 25px 5px 25px;
    border-radius: 10px;
}

@media only screen and (max-width: 1400px) {
    main {
        margin: 6% 25px 5px 25px;
    }
}

@media only screen and (max-width: 1000px) {
    main {
        margin: 10% 25px 5px 25px;
    }
}

@media only screen and (max-width: 800px) {
    main {
        margin: 12% 25px 5px 25px;
    }
}

@media only screen and (max-width: 600px) {
    main {
        margin: 14% 25px 5px 25px;
    }
}
