.poke_image {
    margin: 0.8rem auto;
    padding: 25px;
    border-radius: 50%;
}

.image {
    width: 120px;
    height: 120px;
}

.title {
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.basic {
    text-align: center;
}

.icon {
    width: 25px;
    height: 25px;
}

.grass {
    background-color: #b1f295;
}

.fire {
    background-color: #f0d78d;
}

.water {
    background-color: #c1ddf7;
}

.bug {
    background-color: #cbdac6;
}

.normal {
    background-color: #d9d7d7;
}

.electric {
    background-color: #fff2cc;
}

.poison {
    background-color: #cac1e1;
}

.fairy {
    background-color: #eacbcb;
}

.ground {
    background-color: #ecc78d;
}

.fighting {
    background-color: #cc9f9f;
}

.rock {
    background-color: #b3adad;
}

.psychic {
    background-color: #f28282;
}

.ghost {
    background-color: #a287bd;
}

.ice {
    background-color: #4fb2fc;
}

.dragon {
    background-color: #f456a4;
}

.dark {
    background-color: #6d6d6d;
}

.steel {
    background-color: #d1cccc;
}

.flying {
    background-color: #849eb6;
}

.card {
    margin: 0 auto;
    margin-bottom: 0.8rem;
    width: 18rem;
    height: 20rem;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    cursor: pointer;
}

.upper {
    text-transform: capitalize;
    text-align: left;
}

.title_modal {
    font-weight: 600;
    text-transform: capitalize;
}

.extra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.types {
    display: flex;
    justify-content: space-evenly;
}

.image_modal {
    text-align: center;
    border-radius: 25px;
    width: 150px;
}

.image_modal img{
    height: 150px;
    width: 150px;
}

.upper_type {
    text-transform: capitalize;
}

.stats p {
    margin: 0;
    padding: 0;
}

@media (min-width: 600px) {
    .extra {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
    }
}