.container {
    padding: 0;
    border: 0;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
}

.container h3 {
    font-size: 1.3rem;
    text-align: center;
}

.container div {
    text-align: center;
}

.flag {
    font-size: 2em;
}