.container {
    padding: 0;
    border: 0;
    margin: 0 auto;
    width: 65%;
    height: 100vh;
    border: 1px solid #430f58;
}

.container h3 {
    font-size: 1.3rem;
    text-align: center;
}

.container div {
    text-align: center;
}

.flag {
    font-size: 2em;
}

.tooltip {
    max-width: 95%;
  }