.footer {
    min-height: 50px;
    line-height: 7px;
    text-align: center;
    font-size: 14px;
    margin-top: 80px;
    padding-top: 45px;
    border-top: 3px solid black;
    background: #668ba4;
    color: #97cba9;


}

.footer a {
    color: #dde0ab;
    text-decoration: none;
}