.footer {
    min-height: 50px;
    line-height: 7px;
    text-align: center;
    font-size: 14px;
    padding-top: 45px;
    border-top: 3px solid black;
    background: #430f58;
    color: #8594e4;
}

.footer a {
    color: #6643b5;
    text-decoration: none;
}