@import "~normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
}

body {
    background-image: url(../assets/poke.png);

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
